<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710711230104-q028f69j38qd8e05srollpci8difcrlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710711230104-q028f69j38qd8e05srollpci8difcrlk</string>
	<key>API_KEY</key>
	<string>AIzaSyCVE4B9dPUbM0s0CigVWwchnYkGtaZTsyE</string>
	<key>GCM_SENDER_ID</key>
	<string>710711230104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tutorial.SocialNetwrokApp</string>
	<key>PROJECT_ID</key>
	<string>social-network-app-5c100</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-app-5c100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710711230104:ios:10534aaf4c2824e5</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-app-5c100.firebaseio.com</string>
</dict>
</plist>